.bg-certi{
    background: url(../imagens/bg/bg-certificados.png) no-repeat;
    background-position: center;
    margin-top: 120px;
    height: 220px;
    padding-top: 90px;
}
.content-certi{
    background-color: #7373B2;
    height: 620px;
    padding: 60px 0px;
}
.img{
    width: 100%;
    border-radius: 10px;
}
.certi ul li img {
    max-width: 220px;
    max-height: 150px;
}
.certi-big ul li img {
    max-width: 460px;
    height: 350px;
    margin-top: 175px;
}

[data-slide] {
    position: relative;
  }
  [data-slide] > * {
    position: absolute;
    top: 0px;
    opacity: 0;
  }
  [data-slide] > .active {
    position: absolute;
    opacity: 1;
    transition: opacity 800ms;
    z-index: 1;
  }