@media only screen and (min-width: 788px) and (max-width: 979px) {
    .card-1, .card-2 {
        z-index: 2;
    }
    .half-1 h1, .half-3 h1 {
        font-size: 20px;
    }
    .half-1 p, .half-3 p{
        margin: 0px 15px;
        letter-spacing: normal;
        font-size: 14px;
    }
    .certi-big ul li img {
        height: 250px;
        margin-top: 150px;
    }
    .img-port {
        width: 740px;
    }
    .port p {
        width: 740px;
    }
    .bg-info {
        background-position: right;
    }
}

@media only screen and (min-width: 345px) and (max-width: 788px) {
    header{
        position: relative;
        height: auto;
    }
    .head{
        text-align: center;
    }
    .head-logo{
        text-align: center;
    }
    .head ul li {
        position: relative;
        padding-bottom: 0;
        margin: 4px;
        padding: 5px 8px;
    }
    .bg-home, .bg-port, .bg-certi,
    .bg-skills, .bg-info {
        margin-top: 0;
    }
    .linha, .line {
        display: none;
    }
    .info-home, .rodapé, .copy, .skills-icons, .content-info{
        height: auto;
    }
    .skills-home {
        margin-top: 100px;
    } 
    .rodapé-itens p{
        margin: 20px;
    }
    .rodapé-itens p::after{
        content: "";
        display: block;
        width: 80px;
        height: 2px;
        background-color: #000000;
        margin: 5px auto;
    }
    .rodapé-itens ul li{
        margin: 20px 10px;   
    }
    .rodapé-itens ul {
        padding-left: 15px;
    }
    .skills-icons h1, .skills-icons h1::after {
        margin: 5px auto;
        text-align: center;
    }
    .skills-icons ul li img {
        height: 60px;
    }
    .outros h1 {
        margin-bottom: 20px;
    }
    .outros img {
        padding: 10px 0px;
    }
    .bg-info {
        background-position: right;
    }
    .half-1 {
        border-radius: 85px 0px 0px 0px;
    }
    .half-2 {
        border-radius: 0px 0px 85px 0px;
    }
}
@media only screen and (min-width: 345px) and (max-width: 788px) {
    
}