*{
    font-family: 'Mulish', sans-serif;
}
header{
    height: 120px;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    box-shadow: -4px 0px 4px #000000;
    background-color: #ffffff;
}
.head-logo {
    margin: 10px 0px;
}
.head {
    text-align: right;
}
.head ul li {
    display: inline-block;
    margin: 32px 15px;
    padding: 6px 10px;
    border: 2px solid #000000;
    border-radius: 10px;
    text-align: center;
}
.head ul li:hover{
    background-color: #EBEBFF;
    border-color: #EBEBFF;
    transition: ease-in 0.9s;
}
.active{
    background-color: #EBEBFF;
    border-color: #EBEBFF !important;
}
.bg-home{
    background: url(/imagens/bg/bg-home.png) no-repeat;
    background-position: center;
    margin-top: 120px;
    height: 220px;
    padding-top: 90px;
}
.title h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 200;
}
.title h1::after{
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background-color: #000000;
    margin: 5px auto;
}
.info-home{
    width: 100%;
    background-color: #F8F8FB;
    padding: 40px 0;
    height: 450px;
}
.sobre {
    text-align: center;
     margin: 0 auto;
}
.sobre h1{
    font-size: 24px;
    text-transform: uppercase;
    padding-bottom: 20px;    
}
.sobre h1::after{
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background-color: #000000;
    margin: 5px auto;
}
.sobre p {
    font-size: 18px;
    max-width: 340px;
    margin: 0 auto;
    padding-bottom: 40px;
}
.btn {
    color: black;
    border: 2px solid #000000;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}
.btn:hover{
    background-color: #000000;
    color: #ffffff;
    transition: ease-in 0.9s;
}
.btn-branco{
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}
.btn-branco:hover{
    background-color: #ffffff;
    color: #18187f;
    transition: ease-in 0.9s;
}
.btn-azul{
    color: #18187f;
    border: 2px solid #18187f;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}
.btn-azul:hover{
    background-color: #18187f;
    color: #ffffff;
    transition: ease-in 0.9s;
}
.line {
    text-align: center;
    padding: 40px 0px;
}
.skills-home{
    text-align: center;
    margin: 0 auto;
}
.skills-home h1{
    font-size: 24px;
    text-transform: uppercase;
    padding-bottom: 20px; 
}
.skills-home h1::after{
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background-color: #000000;
    margin: 5px auto;
}
.skills-home ul li {
    text-align: start;
    max-width: 300px;
    margin: 0 auto;
    padding: 15px 5px;
}
.skills-home ul li:nth-child(even){
    background-color: #B8B8D8;
}
.skills-home ul li:last-child{
    margin-bottom: 40px;
}
.skills-home a {
    margin-top: 20px;
}
.quebra {
    background-color: #B8B8D8;
    width: 100%;
}
.quebra p {
    margin: 0 auto;
    text-align: center;
    max-width: 580px;
    padding: 20px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: capitalize;
}
.rodapé{
    background-color: #7373B2;
    height: 150px;
    width: 100%;
}
.rodapé-itens p {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    margin: 55px 0px;
}
.rodapé-itens .linha {
    margin: 46px auto;
    text-align: center;
}
.rodapé-itens ul li {
    display: inline-block;
    margin: 45px 15px;
    padding: 8px 10px;
    border: 2px solid #000000;
    border-radius: 10px;
    text-align: center;
}
.rodapé-itens ul li img:nth-child(odd){
    width: 40px;
    height: 35px;
}
.rodapé-itens ul li:hover{
    background-color: #F8F8FB;
    border-color: #F8F8FB;
    transition: ease-in 0.9s;
}
.copy{
    width: 100%;
    background-color: #18187F;
    height: 35px;
    color: #F8F8FB;
}
.copy p {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 9px auto;
}
.copy .p-2 {
    text-align: right;
}

[data-anime] {
    opacity: 0;
  }
  .anime {
    opacity: 1;
    transform: none;
    transition: transform .8s, opacity .8s;
  }
  
  /* 7 CSS personalizado dependendo da animação desejada */
  .fadeInDown {
    transform: translate3d(0,-20px,0);
  }
  .fadeInUp {
    transform: translate3d(0,20px,0);
  }
  .fadeInRight {
    transform: translate3d(20px,0,0);
  }
  .fadeInLeft {
    transform: translate3d(-20px,0,0);
  }